body{
    background-image: url(fon.png);
    background-size: 1920px 1040px;
    image-rendering: pixelated;
}
body h2{
  text-align: right;
}

.white-text-with-black-shadow {
    text-shadow: black -7px 7px 15px;
    color: white;
    font: 1.5em Georgia, serif;
    padding-top: 55px;
    font-size: 50px
  }
.yellow-text-with-black-shadow {
  text-shadow: black -7px 7px 12px;
  color: yellow;
  font: 1.5em "Segoe Script", serif;
  padding-top: 60px;
  margin-right: -150px;
  font-size: 50px
  
  }
.colbtn{
  text-align: right;
  padding-top: 670px;
  margin-right: -148px;
}